@import '@/stories/assets/scss/_colors.scss'; 

.pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination-page{
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    background-color: $color2;
    color: $color1;
    @media (max-width:800px) {
        margin: 0 5px;
    }
}
.pagination-current-page{
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    background-color: $color2;
    color: $color3;
}