@import '@/stories/assets/scss/_colors.scss'; 

.search-container{
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width:800px) {
        justify-content: space-around;
    }
    >input{
        padding-right: 15px;
    }
    >button{
        padding-left: 15px;
        cursor: pointer;
        margin: 0px;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-weight: 700;
        border: 1px solid $color3;
        background: transparent;
        color: $color2;
        transition: all 0.1s ease 0s;
        &:hover{
            background: $color2;
            border: 1px solid $color2;
            color: $color3;
        }
    }
}