@import '@/stories/assets/scss/_colors.scss'; 
.character-card-container{
    display: flex;
    width: 600px;
    height: 220px;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @media (max-width:800px) {
        flex-direction: column;
        width: 300px;
        height: 570px;
    }
}
.character-card-column-image{
    > img{
        height: 220px;
        width: 220px;  
        @media (max-width:800px) {
            width: 300px;
            height: 300px;
        }
    }
}
.character-card-column-info{
    display: flex;
    flex-direction: column;
    padding: 13.5px;
    @media (max-width:800px) {
        height: 100%;
    }
}
.character-card-info{
    align-items: flex-start;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    .character-card-name{
        &:hover{
            cursor: pointer;
            color:$color3;
        }
    }
    > h2, > .character-card-status{
        color: $color5;
    }
    > h2{
        font-size: 27px;
        margin: 0;
        
    }
    > .character-card-info-lable{
        font-size: 16px;
        color: rgb(158, 158, 158);
    }
    > .character-card-info-value{
        font-size: 18px;
        color: $color5;
    }
}
