@import '@/stories/assets/scss/_colors.scss'; 

.homebanner-container{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: 46vh;
    text-align: center;
    position: relative;
    >h1{
        margin: 0px;
        color: $color5;
        border: none;
        font-weight: 900;
        z-index: 1;
        font-size: 5.625rem;
        @media (max-width:800px) {
            font-size: 3rem;
        }
    }
    >.homebanner-image{
        position: absolute;
        width: 100%;
        height: 100%;
        >img{
            width:300px;
            height:300px;
            @media (max-width: 800px) {
                height: 250px;
            }
        }
    }
}